{{- if eq .chezmoi.os "windows" }}
["appdata/local/nvim"]
type = "git-repo"
url = "https://github.com/sfx1909/nvim.git"
refreshPeriod = "1h"
{{ else }}
[".config/nvim"]
type = "git-repo"
url = "https://github.com/sfx1909/nvim.git"
refreshPeriod = "1h"
{{ end }}
