{{ if eq .chezmoi.os "windows" -}}
echo OFF

winget install --id=gerardog.gsudo -e --accept-package-agreements 
call refreshenv

powershell -Command "gsudo config NewWindow.Force true | Out-Null"

{{ range .packages.windows.winget -}}
echo Installing {{ . | quote }}
powershell -Command "{winget install  --id={{ . }} -e --accept-package-agreements} | Out-Null"

{{ end -}}

call refreshenv

{{ range .packages.windows.chocolatey -}}
echo Installing {{ . | quote }}
powershell -Command "{choco install {{.}} -y} | Out-Null"
{{ end -}}

call refreshenv

echo Installing "PowerShell Dependencies"
powershell -Command "Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser | Out-Null"
{{ range .packages.windows.powershell -}}
powershell -Command "{{.}} | Out-Null"
{{ end -}}

call refreshenv

{{ range .packages.windows.scoop -}}
echo Installing {{ . | quote }}
powershell -Command "{scoop install {{.}}} | Out-Null"
{{ end -}}

powershell -Command "gsudo config NewWindow.Force false | Out-Null"

call refreshenv
winget uninstall gsudo

exit 0
{{ end -}}